<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express App</title>
    <link rel="shortcut icon" href="/img/expressjs.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <img src="/img/expressjs.png" alt="express_logo" />
    <h3>
      This is a basic Express + TypeScript app that serves static HTML files.
    </h3>
    <p>Count is <span id="count-text">0</span></p>

    <div class="button-container">
      <button id="count-button">Click me</button>
      <button id="reset-button">Reset</button>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
